In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('big_data_assignment').getOrCreate()

In [2]:
celebrity =[('이순재',90),
            ('이채영',24),
            ('현빈',40),
            ('백지헌',21),
            ('이새롬',27),
            ('임요환',42),
            ('김흥국',64)]

In [3]:
schema = ['name', 'age']

In [4]:
df = spark.createDataFrame(data = celebrity , schema = schema)

In [5]:
df.show()

+------+---+
|  name|age|
+------+---+
|이순재| 90|
|이채영| 24|
|  현빈| 40|
|백지헌| 21|
|이새롬| 27|
|임요환| 42|
|김흥국| 64|
+------+---+

In [6]:
df.createOrReplaceTempView('celebrities')

In [7]:
def age_category(age):
    if age < 35: age = 'young' 
    elif age >=35 and age < 60: age = 'adult'
    else: age = 'senior'
    return age

In [8]:
spark.udf.register('age_category',age_category)

In [9]:
spark.sql("SELECT name,age_category(age) AS age_category FROM celebrities").show()

+------+------------+
|  name|age_category|
+------+------------+
|이순재|      senior|
|이채영|       young|
|  현빈|       adult|
|백지헌|       young|
|이새롬|       young|
|임요환|       adult|
|김흥국|      senior|
+------+------------+